In [108]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

import time
import string
from collections import defaultdict, deque

In [6]:
os.getcwd()

'C:\\Users\\Lenovo\\Desktop\\stupidcode\\kaggle\\jigsaw'

In [11]:
input_dir=r"C:\Users\Lenovo\Desktop\stupidcode\data\kaggle\jigsaw"

In [20]:
data_df=pd.read_csv(os.path.join(input_dir,"validation_data.csv"))

In [21]:
data_df.head()

,worker,less_toxic,more_toxic
0,313,This article sucks \n\nwoo woo wooooooo,WHAT!!!!!!!!?!?!!?!?!!?!?!?!?!!!!!!!!!!!!!!!!!...
1,188,"""And yes, people should recognize that but the...",Daphne Guinness \n\nTop of the mornin' my fav...
2,82,"Western Media?\n\nYup, because every crime in...","""Atom you don't believe actual photos of mastu..."
3,347,And you removed it! You numbskull! I don't car...,You seem to have sand in your vagina.\n\nMight...
4,539,smelly vagina \n\nBluerasberry why don't you ...,"hey \n\nway to support nazis, you racist"

In [23]:
from sklearn.preprocessing import LabelEncoder
def generate_comments(data):
    more_toxic_text=data["more_toxic"].values
    less_toxic_text=data["less_toxic"].values    
    comments=np.concatenate((more_toxic_text,less_toxic_text))
    comments=np.unique(comments)
    comments=pd.DataFrame({"text":comments})
    text_encoder=LabelEncoder()
    text_encoder.fit(comments)
    comments["encode_text"]=text_encoder.transform(comments["text"])
    data["encode_less"]=text_encoder.transform(data["less_toxic"])
    data["encode_more"]=text_encoder.transform(data["more_toxic"])
    
    return data,comments

In [24]:
data_df,comments=generate_comments(data_df)

D:\anaconda\envs\python36\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [31]:
data_df.head()

,worker,less_toxic,more_toxic,encode_less,encode_more
0,313,This article sucks \n\nwoo woo wooooooo,WHAT!!!!!!!!?!?!!?!?!!?!?!?!?!!!!!!!!!!!!!!!!!...,2405,12151
1,188,"""And yes, people should recognize that but the...",Daphne Guinness \n\nTop of the mornin' my fav...,7215,653
2,82,"Western Media?\n\nYup, because every crime in...","""Atom you don't believe actual photos of mastu...",2632,7222
3,347,And you removed it! You numbskull! I don't car...,You seem to have sand in your vagina.\n\nMight...,7973,12968
4,539,smelly vagina \n\nBluerasberry why don't you ...,"hey \n\nway to support nazis, you racist",3524,3266

In [40]:
data_df.duplicated(subset=["encode_less","encode_more"],keep="first")
data_drop=data_df.drop_duplicates(["encode_less","encode_more"],keep="first",inplace=False)

In [78]:
data_df["label_min"]=data_df.apply(lambda row:row["encode_less"] 
                                   if row["encode_less"]<row["encode_more"] else row["encode_more"],axis=1)
data_df["label_max"]=data_df.apply(lambda row:row["encode_more"] 
                                   if row["encode_less"]<row["encode_more"] else row["encode_less"],axis=1)

data_df["win_min"]=data_df.apply(lambda row:1 if row["encode_more"]<row["encode_less"] else 0 ,axis=1)
data_df["win_max"]=data_df.apply(lambda row:0 if row["encode_more"]<row["encode_less"] else 1 ,axis=1)

data_df_agg=data_df.groupby(["label_min","label_max"]).agg({"win_min":"sum","win_max":"sum"}).reset_index()
data_df_agg["encode_less"]=data_df_agg.apply(lambda row:row["label_min"] 
                                             if row["win_min"]<row["win_max"] else row["label_max"],axis=1)
data_df_agg["encode_more"]=data_df_agg.apply(lambda row:row["label_min"] 
                                             if row["win_min"]>row["win_max"] else row["label_max"],axis=1)

In [81]:
data_df_agg.head()

   label_min  label_max  win_min  win_max  encode_less  encode_more
0          0       7085        2        1         7085            0
1          1       1293        3        0         1293            1
2          1       5156        3        0         5156            1
3          1      12696        2        1        12696            1
4          2      13776        2        1        13776            2

In [85]:
more2less_dict= defaultdict(list)

In [86]:
data_df_agg.apply(lambda row:more2less_dict[row["encode_more"]].append(row["encode_less"]),axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
10103    None
10104    None
10105    None
10106    None
10107    None
Length: 10108, dtype: object

In [93]:
def bsearch(start,more2less_dict):
    queue = deque([start])
    visit_list=[]
    while len(queue)!=0:
        visit_id=queue.popleft()
        if visit_id in visit_list:
            continue
        visit_list.append(visit_id)
        queue+=deque(more2less_dict[visit_id])
    queue.remove(start)
    queue.remove(more2less_dict[start])
    return [x for x in queue]

def search_lessText(more2less_dict=more2less_dict):
    for start in more2less_dict.keys():
        bsearch(start)

TypeError: unhashable type: 'list'

In [ ]:
more2less_dict

In [117]:
q1=deque([1,2,3])